* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  font-size: 22px;
  font-weight: 600;
}
body {
  background: #000;
}
.cont {
  width: 1020px;
  margin: auto;
}
header {
  width: 100vw;
  position: fixed;
  top: 0;
  background: #000;
  z-index: 10;
}
header .cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .cont .logo {
  flex: 1;
  padding: 10px;
}
header .cont .logo img {
  width: 140px;
}
header .cont nav {
  padding: 20px;
}
header .cont nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}
header .cont nav ul li {
  margin-left: 10px;
}
header .cont nav ul li a {
  font-weight: 600;
}
header .cont nav ul li .signIn {
  background: #25ce1d;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
header .cont nav #closemobile-menu {
  display: none;
}
header .cont .mobile-menu {
  display: none;
}

.socials {
  margin: 10px;
}
.socials ul {
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.socials ul li {
  margin-left: 10px;
  margin-right: 10px;
}
.socials ul li a img {
  width: 30px;
}

footer {
  background: #676767;
  padding: 20px;
  text-align: center;
  width: 100%;
}

@media (max-width: 1020px) {
  .cont {
    width: 80%;
  }
}
@media (max-width: 820px) {
  .cont {
    width: 95%;
  }
}

@media (max-width: 450px) {
  header nav {
    display: none;
    flex-direction: row;
    width: 80%;
    margin: auto;
    height: 100vh;
    position: fixed;
    background: #000;
  }
  header .cont nav ul {
    flex-direction: column;
    flex: 1;
  }
  header .cont nav ul li {
    margin-top: 20px;
  }
  header nav #closemobile-menu {
    display: block;
  }
  header nav #closemobile-menu button {
    background: transparent;
    border: 0;
  }
  header nav #closemobile-menu button img {
    width: 40px;
  }
  header .cont .mobile-menu {
    display: block;
    padding: 10px;
    padding-right: 0;
  }
  header .cont .mobile-menu button {
    background: transparent;
    cursor: pointer;
    border: 0;
  }
  header .cont .mobile-menu button img {
    width: 40px;
  }

  footer {
    margin-top: 200px;
  }
}
